<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>{{retult}} {{count}}</div>
        <bomb-button :is-bomb='false' v-on:bomb="bomb" @click="clickBomb"></bomb-button>
        <bomb-button :is-bomb='false' v-on:bomb="bomb" @click="clickBomb"></bomb-button>
        <bomb-button :is-bomb='false' v-on:bomb="bomb" @click="clickBomb"></bomb-button><br>
        <bomb-button :is-bomb='true' v-on:bomb="bomb" @click="clickBomb"></bomb-button>
        <bomb-button :is-bomb='true' v-on:bomb="bomb" @click="clickBomb"></bomb-button>
        <bomb-button :is-bomb='true' v-on:bomb="bomb" @click="clickBomb"></bomb-button><br>
        <bomb-button :is-bomb='true' v-on:bomb="bomb" @click="clickBomb"></bomb-button>
        <bomb-button :is-bomb='true' v-on:bomb="bomb" @click="clickBomb"></bomb-button>
        <bomb-button :is-bomb='true' v-on:bomb="bomb" @click="clickBomb"></bomb-button>
    </div>

    <script>
        Vue.component('bomb-button', {
            props: {
                isBomb: Boolean
            },
            data: function () {
                return {
                    value: "-",
                    clicked: false,
                };
            },
            methods: {
                open: function () {
                    if(this.clicked) return
                    this.clicked = true;

                    console.log(this.isBomb);
                    this.$emit("click")
                    
                    if (!this.isBomb) return;
                    this.value = '*';
                    this.$emit('bomb');
                }
            },
            template: '<button v-on:click="open" style="width: 25px;height: 25px;">{{value}}</button>'
        });
        var app = new Vue({
            el: '#app',
            data: {
                retult: '',
                count: 0
            },
            methods: {
                clickBomb: function() {
                    this.count++
                },
                bomb: function() {
                    console.log("bomb");
                    this.retult = "You lose";
                }
            },
        })
    </script>
</body>

</html>