<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="boom-button">
        <button v-on:click="boomCilck" style="width: 25px;height: 25px;">{{boomvalue}}</button>
    </div>
    <div id="boom-button1">
        <button v-on:click="boomCilck" style="width: 25px;height: 25px;">{{boomvalue}}</button>

    </div>
    <script>
        var boomButton = new Vue({
            el: '#boom-button',
            data: {
                boomvalue: '-',
                hidevalue: "*"
            },
            methods: {
                boomCilck: function() {
                    if(this.hidevalue == "-")return;
                    this.boomvalue = this.hidevalue;
                }
            },          
        });
        var boomButton = new Vue({
            el: '#boom-button1',
            data: {
                boomvalue: '-',
                hidevalue: "*"
            },
            computed: {
                boomCilck: function() {
                    if(this.hidevalue == "-")return;
                    this.boomvalue = this.hidevalue;
                }
            },
        })
    </script>


</body>
</html>